.home, .settings, .about{
    margin-top: 10px;
    background-color: white;
}




.toolbar-title{
    text-align: center;
}

.temp{
    font-size: 40px;
    text-align: center;
    font-weight: normal;
}


.weather{
    font-size: 23px;
}

.desc{
    font-size: 18px;
}

.iconW img{
    width: 60px;
    height: 60px;
}

.weather, .iconW, .desc{
    text-align: center;
}

