.home, .settings, .about{
    margin-top: 20px;
    background-color: white;
}




.toolbar-title{
    text-align: center;
}

.temp{
    font-size: 50px;
    text-align: center;
    font-weight: normal;
}


.weather{
    font-size: 30px;
}

.desc{
    font-size: 20px;
}

.iconW img{
    width: 60px;
}

.weather, .iconW, .desc{
    text-align: center;
}

.data {
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
